<div class="container">
<div class="row" style="margin-bottom:20px;">
<div *ngIf="hero">
<div class="col-lg-3">
<img class="img-thumbnail" src="/assets/img/{{hero.name}}.jpg" style="">
</div>
<div class="col-lg-9">
<button class="btn btn-sm btn-info" (click)="goBack()">Go Back</button>
<h2>{{ hero.name | uppercase }} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<label>name:
      <input class="form-control" [(ngModel)]="hero.name" placeholder="name">
    </label>
    <button class="btn btn-primary" (click)="save()">save</button>
</div>
</div>
</div>
</div>
