<div class="container">
<div class="row" >
<h1 class="text-center"><img class="" src="/assets/img/title.png"></h1>
<hr>
<nav class="text-center">
	<a class="btn btn-default" routerLink="/dashboard">Dashboard</a>
  <a class="btn btn-default" routerLink="/heroes">Heroes</a>
  
  
</nav>
</div>
<div class="row" >
<router-outlet></router-outlet>
</div>

<div class="row">
	<div class="col-lg-12">
		
		  <app-messages></app-messages>
		
	</div>
</div>


</div>



