<div *ngIf="messageService.messages.length">
<div class="alert alert-info">
  <h4>Messages
  <button class="clear pull-right btn btn-sm btn-primary"
          (click)="messageService.clear()">clear</button>
  </h4>
  
  <div *ngFor='let message of messageService.messages'> {{message}} </div>
</div>
</div>