

<h3 style="margin-bottom:20px; margin-top:40px;">Top Heroes</h3>
	<div *ngFor="let hero of heroes" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
	<div >
	<a routerLink="/detail/{{hero.id}}">
	<img class="img-thumbnail" src="/assets/img/{{hero.name}}.jpg" style="width:100%; height:350px;">
	<h4 class="text-center">{{hero.name}}</h4>
	</a>
	</div>
	
	</div>
	<div class="col-lg-12">
	<app-hero-search></app-hero-search>
	</div>
  


	
