<div class="container">
<div class="row" style="margin-bottom:20px;">
<div class="col-lg-12">
<h2>My Heroes</h2>
<div>
  <label>Hero name:
    <input class="form-control" #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button class="btn btn-sm btn-primary" (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>
<ul class="heroes list-group hero-list">
  <li class="list-group-item" *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" >
    <a class="" routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete pull-right btn btn-xs btn-danger" title="delete hero"
(click)="delete(hero)">x</button>
  </li>

</ul>
</div>
</div>
</div>



