<div id="search-component">
  
 <h4>Search Hero</h4>
  <input class="form-control input-lg" #searchBox id="search-box" (keyup)="search(searchBox.value)" />
 
  <ul class="list-group">
    <li *ngFor="let hero of heroes$ | async" class="list-group-item">
	<img class="" src="/assets/img/{{hero.name}}.jpg" style="width:30px; height:50px;">
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}
      </a>
    </li>
  </ul>
</div>